fastapi==0.136.1
uvicorn[standard]==0.46.0
python-multipart==0.0.27
google-auth==2.49.1
google-cloud-firestore==2.27.0
google-genai==1.73.1
Pillow==12.2.0
httpx==0.28.1
pymupdf==1.27.2.2
google-api-python-client==2.194.0
google-auth-httplib2==0.3.0
slack_sdk==3.41.0
google-cloud-tasks==2.22.0
google-cloud-secret-manager==2.28.0
utm==0.9.0
